<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="log-path">./logs</Property>
        <Property name="log4j2.messageFactory">org.yao.StructuredMessageFactory</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %-5p [%t] %c{2}:=%M %m%n"/>
        </Console>
        <Console name="WithContextMap" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%-4r [%t] %5p %c{1} - %m tx.id=%X{transaction.id} tx.owner=%X{transaction.owner}%n"/>
        </Console>
        <Console name="WithContextStack" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%-4r [%t] %5p %c{1} - %m fishtags=%x%n"/>
        </Console>
        <Console name="WithContextAll" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%-4r [%t] %5p %c{1} - %m map=%X stack=%x%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${log-path}/rainbow.log"
                     filePattern="${log-path}/rainbow-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{ISO8601} %-5p [%t] %c{2}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
        <RollingFile name="JsonRollingFile" fileName="${log-path}/rainbow.log"
                     filePattern="${log-path}/rainbow-%d{yyyy-MM-dd}-%i.log">
            <JsonTemplateLayout eventTemplateUri="classpath:jsonLayout.json"
                                stackTraceElementTemplateUri="classpath:s.json"
                                locationInfoEnabled="false"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
        <Console name="Json" target="SYSTEM_OUT">
            <JsonLayout complete="false"></JsonLayout>
        </Console>
        <Console name="JsonTemplate" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:jsonLayout.json"
                                stackTraceElementTemplateUri="classpath:s.json"
                                locationInfoEnabled="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="simple" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.yao.TransferService" level="info" additivity="false">
            <AppenderRef ref="WithContextMap"/>
        </Logger>
        <Logger name="org.yao.ThreadStackUsage" level="info" additivity="false">
            <AppenderRef ref="WithContextStack"/>
        </Logger>
        <Logger name="org.yao.ClosableContextUsage" level="info" additivity="false">
            <AppenderRef ref="WithContextAll"/>
        </Logger>
        <Logger name="org.yao.ThreadMapUsage" level="info" additivity="false">
            <AppenderRef ref="WithContextAll"/>
        </Logger>
        <Logger name="json.logger" level="info" additivity="false">
            <AppenderRef ref="Json"/>
        </Logger>
        <Logger name="json.template.logger" level="info" additivity="false">
            <AppenderRef ref="JsonTemplate"/>
            <AppenderRef ref="JsonRollingFile"/>
        </Logger>
    </Loggers>
</Configuration>